.home-container{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg-primary);
}
.home-title{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.home-title h4{
    font-size: 2rem;
    border: 0.5px solid black;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--bg-secondary);
}
.courcebox{
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    flex-basis: 30%;
    background-color: var(--bg-secondary);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.courcebox h4{
    font-size: 1.5rem;
    margin: 0px;
}
.courcebox p{
    margin: 0px;
}