
.back-container{
    width: 85vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.back-container p{
    padding: 0px;
    margin: 0px;
}
.profile-container{
    height: 100%;
    width: 50%;
    background-color: var(--bg-secondary);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.details-pp{
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.details-pp p{
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.input{
    width: 100%;
    background-color: transparent;
    border: 1px solid gray;
    height: 3rem;
    padding-left: 10px;
    border-radius: 7px;
}
.Current-Status{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 70%;
}
.status-box{
    display: flex;
    align-items: center;
    width: 48.5%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    
}
.level-box{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
}