*{
    margin: 0px;
    padding: 0px;
}


.container{
    
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}
.course{
    height: auto;
    width: 90%;
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: antiquewhite;
}
.course h4{
    font-size: 3rem;
    font-weight: 700;

}
.course p{
    color: gray;
    font-size: 1.3rem;
}
.skills{
    height: 3rem;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    position: relative;
}
.skills p{
    margin-bottom: 0px;
    align-self: center;
}
.skills:hover{
    background-color: rgb(235, 235, 50);
    cursor: pointer;
}

.skills::after{
    content: "";
    background-color: rgb(117, 152, 255);
    position: absolute;
    height: 70px;
    width: 3px;
    left: 49%;
    bottom: 2.95rem;
}