*{
    margin: 0px;
    padding: 0px;
}


.container{
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.course{
    height: auto;
    width: 90%;
    padding: 20px 40px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: antiquewhite;
    gap: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.course h4{
    font-size: 3rem;
    font-weight: 700;

}
.course p{
    color: gray;
    font-size: 1.3rem;
}
.skills{
    height: 3rem;
    width: fit-content;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.skills p{
    margin-bottom: 0px;
    align-self: center;
}
.skills:hover{
    cursor: pointer;
}

.skills::after{
    content: "";
    position: absolute;
    height: 70px;
    border: 2px solid black;
    left: 49%;
    bottom: 2.90rem;
}